$color_primary: #37AB00;
$color_background: #FBFEF4;
$color_background2: #FFF;

$white: $color_background2;

$black-transparent: #0000004D;
$black-transparent2: #00000033;
$black-transparent3: #00000008;
$black-transparent4: #000000b5;